.users-container {
    width: 100%;
    padding-top: 10rem !important;
}

// row hover bg color 
.ant-table-thead >tr>th {
    background-color: var(--backgroundColor) !important;
    color: var(--themeColorGreen) !important;
}

// search field || button
.custom-table .ant-input-search-button {
    background-color: var(--backgroundColor) !important;
    color: var(--themeColorGreen) !important;
    height: 35px !important;
}
.custom-table .ant-input-affix-wrapper{
    border: 1px solid var(--backgroundColor) !important;
    border-radius: 5px !important;
    height: 35px !important;
    padding: 0px 10px !important;
    flex-grow: 1 !important;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused{
    box-shadow: 0 0 0 2px #0064001f;
}

// row hover bg color 
.ant-table-tbody >tr >td.ant-table-cell-row-hover{
    background-color: var(--backgroundColor) !important;
}

// pagination button 
.ant-pagination .ant-pagination-item-active a{
    color: var(--themeColorGreen) !important;
    &:hover{
        color: var(--themeColorGreen) !important;
    }
}
 .ant-pagination-item-active{
    border-color: var(--themeColorGreen) !important;
 } 