/* ************ Reset Css  ************** */

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}


/* ************ Css Variables ************** */

:root {
    --light: #fff;
    --dark: #000000;
    --themeColor: #FCD117;
    --themeColorGreen: #006400;
    --backgroundColor: #fff5c9;
    --lightYellow: #FFF5C9;
}

/* ************ Custom Classes ************** */

.container {
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width:"1450px") {
        max-width: 1050px;
    }

    @media screen and (max-width:"1100px") {
        margin: 0 20px;
    }
}

.cursor {
    cursor: pointer;
}

/* ************ Custom Fonts ************** */

@font-face {
    font-family: darkFont;
    src: url('Assets/Fonts/avantgarde-bk-bt/AVGARDD_2.TTF');
}

@font-face {
    font-family: cursiveDark;
    src: url('Assets/Fonts/avantgarde-bk-bt/AVGARDDO_2.TTF');
}

@font-face {
    font-family: lightFont;
    src: url('Assets/Fonts/avantgarde-bk-bt/AVGARDN_2.TTF');
}

/* ************ Custom  ScrollBar ************** */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: transparent;
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background: #5c5b5b;
}


// table custom css
.table {

    // row hover bg color 
    .ant-table-thead>tr>th {
        background-color: var(--backgroundColor) !important;
        color: var(--themeColorGreen) !important;
    }

    // search field || button
    .custom-table .ant-input-search-button {
        background-color: var(--backgroundColor) !important;
        color: var(--themeColorGreen) !important;
        height: 35px !important;
    }

    .custom-table .ant-input-affix-wrapper {
        border: 1px solid var(--backgroundColor) !important;
        border-radius: 5px !important;
        height: 35px !important;
        padding: 0px 10px !important;
        flex-grow: 1 !important;
    }

    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
        box-shadow: 0 0 0 2px #0064001f;
    }

    // row hover bg color 
    .ant-table-tbody>tr>td.ant-table-cell-row-hover {
        background-color: var(--backgroundColor) !important;
    }

    // pagination button 
    .ant-pagination .ant-pagination-item-active a {
        color: var(--themeColorGreen) !important;

        &:hover {
            color: var(--themeColorGreen) !important;
        }
    }

    .ant-pagination-item-active {
        border-color: var(--themeColorGreen) !important;
    }

    .ant-table-wrapper .ant-table-column-sorter-up.active,
    .ant-table-wrapper .ant-table-column-sorter-down.active {
        color: var(--themeColorGreen) !important;
    }

}

// page headings's css
.heading {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 2px 5px rgba(81, 67, 21, 0.8);
}

.subHeading {
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(81, 67, 21, 0.8);
}